@charset "UTF-8";
/*
GERAL
*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Segoe UI", Helvetica, Arial;
  list-style: none;
  display: flex;
  justify-content: center; }
  body ul {
    list-style: none; }

div {
  margin-top: 10px; }

/*
LINKS
*/
a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #1DA1F2; }

#one {
  padding: 0px 10px 0px 10px;
  height: 100%;
  position: sticky;
  top: 10px;
  text-align: center;
  transition: 1s; }

#two {
  width: auto;
  justify-content: center; }

/*
NAVEGAÇÃO
*/
nav img {
  width: 50%; }

nav a {
  font-size: 2em;
  font-weight: 700; }

nav li {
  text-align: left;
  margin-top: 10px; }

nav p {
  font-size: 1.2em; }

/*
SESSÃO PESQUISA
*/
h2 {
  font-size: 1.5em;
  text-align: center; }

#box_search, #button_search {
  display: flex;
  justify-content: center; }

.box_search {
  border-radius: 23px;
  border: 1px solid #F2F2F2;
  width: 408px;
  height: 40px;
  background-color: #F2F2F2;
  font-size: 2.5em;
  font-weight: 700;
  color: #6E6E6E;
  padding: 5px; }

.box_search:hover {
  background-color: #fff;
  border: 1px solid #6E6E6E; }

/*
BOTÃO DE PESQUISA
*/
.button_search {
  background-color: #1DA1F2;
  border-radius: 33px;
  width: 392px;
  height: 66px;
  border: 0;
  font-size: 2em;
  font-weight: 700;
  color: #fff; }

.button_search:hover {
  background-color: #027DC8; }

/*
RESULTADOS DAS BUSCAS
*/
#results_search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  #results_search div {
    width: 620px;
    background-color: #F2F2F2;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px 50px 0px 0px;
    height: 100%; }
    #results_search div h1 {
      text-align: center;
      font-size: 2.5em;
      padding: 10px 0px 10px 0px; }

@media screen and (max-width: 1500px) {
  body {
    display: flex;
    flex-direction: column; }
  #one {
    padding: 0px 10px 0px 10px;
    width: 100%;
    position: relative;
    text-align: center; }
  nav img {
    width: 10%; }
  nav a {
    font-size: 2em;
    font-weight: 700; }
  nav li {
    margin-top: 10px;
    text-align: center; }
  nav p {
    font-size: 1.2em; } }
